.footer_container {
  display: flex;
  background-color: rgb(20, 20, 20);
  width: 100vw;
  height: 90px;
  grid-column: span 2;
  z-index: 99999;
  align-items: center;
  padding: 0px 15px;
  border: 1px solid rgb(36, 35, 35);
  color: whitesmoke;
}

.footer_container > div {
  flex-basis: 33%;
}

.footer_left {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.footer_left > div {
  margin-left: 10px;
}

.footer_left > img {
  object-fit: contain;
}

.footer_mid {
  display: flex;
  max-width: 200px;
  /* border: 1px solid  blue; */
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.playback_position {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 10px;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.slider:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.footer_right {
  justify-self: flex-end !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid blue; */
}

.right_footer_icons {
  padding: 0 9px;
  color: grey;
}

.volume {
  display: flex;
  align-items: center;
}

.volume_slider {
  height: 3px;
  width: 70px;
}
