.login {
  display: grid;
  height: 100vh;
  background-color: black;
  justify-items: center;
  align-items: center;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
