.public_playlistBanner {
  /* height: 330px; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  color: white;
}

.public_playlistBannerFlex {
  max-height: 330px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow-y: hidden;
  gap: 100px 20px;
  /* border: 1px solid blue; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .public_playlistBannerFlex > div {
  display: flex;
  flex-direction: column;
  border: 1px solid goldenrod;
  word-break: normal;
  min-width: 180px;
  flex: 1 1 100px;
  aspect-ratio: 1/1.35;
  padding: 10px;
} */
