.public_playlistBanner {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  color: white;
}

.public_playlistBannerFlex {
  max-height: 330px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  overflow-y: hidden;
  gap: 100px 20px;
  /* border: 1px solid blue; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
